<div>
  <mat-toolbar margin-bottom="20px">
    <a routerLink="/" ><img src="/assets/img/yt_logo.png" id="logoImg" (click)="toggleLogoSearch()"/></a>
    <!-- <a routerLink="/" *ngIf="resultPage == true"><img src="assets/img/webIco.png" id="logoImg"/></a>      *ngIf="resultPage == false"-->
    <!-- <app-search *ngIf="resultPage" class="customizes"></app-search> -->
    <div class="postSearch"></div>
    <span class="spacer"></span>
    <ul>
      <li>
        <span class="about"
          ><a mat-button routerLink="/about" routerLinkActive="active"
            >About</a
          ></span
        >
      </li>
      <li>
        <span class="about"
          ><a mat-button routerLink="/contact" routerLinkActive="active"
            >Contact</a
          ></span
        >
      </li>
      <li *ngIf="!userIsAuthen">
        <span class="about"
          ><a mat-button routerLink="/login" routerLinkActive="active"
            >Login</a
          ></span
        >
      </li>
      <li *ngIf="!userIsAuthen">
        <span class="about"
          ><a mat-button routerLink="/signup" routerLinkActive="active"
            >Signup</a
          ></span
        >
      </li>
      <li *ngIf="userIsAuthen">
        <span class="about"
          ><button (click)="onLogout()" mat-button routerLinkActive="active"
            >Logout</button
          ></span
        >
      </li>
    </ul>
  </mat-toolbar>
</div>
