<div class="container">
  <mat-card class="about-card">
    <h1 id="mission">Our Mission</h1>
    <p class="mission-state">
      To provide a more productive Youtube experience.
    </p>
    <h2>About</h2>
    <div class="aboutText">
      <p>
        YT Utilitties provides a utilities and productivity platform for people to enhance thier experience of using Youtueb.
        The app sources information from various social media apps such as Twitter, Facebook, SnapChat, Youtube, Instagram and the list is bound grow.
      </p>
      <p>
        The application is built entirely on various javascript frameworks, namely Angular, Node, Express, Mongo DB etc. It utilizes api's provided by Youtube. The application will grow in its features with time, and try operate indepenet of the api's it currently uses,
        owing to the fact that they are being depricated.
      </p>
    </div>
  </mat-card>

  <mat-card class="leader-card">
    <h2>Leadership</h2>
    <div>
      <div class="people">
        <img
          srcset="/assets/img/Suklesh.jpg"
          class="img-circle"
          style="width: 112px;"
        />
        <h3>Suklesh I</h3>
        <p>Founder</p>
        <p class="person">
          Suklesh visioned a utilities app that users can utilize to enhace thier youtube expreience and make it more productive.
        </p>
      </div>
    </div>
  </mat-card>
  </div>
