<div class="container">
  <mat-card class="about-card">
    <h1 id="mission">Our Mission</h1>
    <p class="mission-state">
      To provide a more productive Youtube experience.
    </p>
    <h2>About</h2>
    <div class="aboutText">
      <p>
        YouTools provides a utilities and productivity platform for people to
        enhance thier experience of using Youtube. The app is a growing set of
        productivity features that users can use to get the best out of thier
        time spent on youtube. A couple of such features are:
      </p>
      <ul>
        <li>
          Search word feature: Here the user can load the youtube video of thier
          choice by searching the youtube url in the search bar. Once the video
          is loaded in the resulting screen, if the video supports manual
          captions, they can search for a specific word in the video. This
          search will later result in a set of timestamps where the word is said
          in the video. Now the user can click to navigate directly to that
          section of the video specified in the timestamp.
        </li>
        <li>
          Bookmark with Notes: This feature is still under development. Here the
          user can choose to add bookmarks in the view of thier choice. And each
          bookmark can be added with "Notes". These bookmarks are saved for the
          the specific user after they login (having signed up). And can be
          retried from a saved session of the video.
        </li>
      </ul>
      <p>
        YouTools will in the course of time be added with features that will
        make a users youtube experience productive. This will mainly be usefull
        for students or others wanting to learn somthing in a systematic manner.
      </p>
      <p>
        Users of this app can make use of the "Contact" section on this website
        to let me know of some of the features they would like to see
        implemented in this tool.
      </p>
      <p>
        The application is built entirely on various javascript frameworks,
        namely Angular, Node, Express, Mongo DB etc. It utilizes api's provided
        by Youtube. The application will grow in its features with time, and try
        operate indepenet of the api's it currently uses, owing to the fact that
        they are being depricated.
      </p>
    </div>
  </mat-card>

  <mat-card class="leader-card">
    <h2>Leadership</h2>
    <div>
      <div class="people">
        <img
          srcset="/assets/img/Suklesh.jpg"
          class="img-circle"
          style="width: 112px;"
        />
        <h3>Suklesh I</h3>
        <p>Founder</p>
        <p class="person">
          Suklesh visioned a utilities app that users can utilize to enhace
          thier youtube expreience and make it more productive.
        </p>
      </div>
    </div>
  </mat-card>
</div>
