<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Contact Us!</h1>
      <section class="section">
        <div class="container">

          <!-- form goes here -->
          <form>

            <!-- name -->
            <mat-form-field>
              <input matInput type="text" name="name" class="input" placeholder="Your Name">
            </mat-form-field>
<br>
            <!-- email -->
            <mat-form-field>
              <input matInput type="email" name="email" class="input" placeholder="Your Email">
            </mat-form-field>
<br>
            <!-- message -->
            <mat-form-field appearance="outline" class="textArea">
              <textarea style="resize:both" matInput placeholder="Leave a comment"></textarea>
            </mat-form-field>
<br>
            <button mat-raised-button type="submit" color="" class="button is-danger is-large">Submit</button>

          </form>

        </div>
        </section>
    </div>
  </div>
</section>
