<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignUp(signUpForm)" #signUpForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="E-mail" #emailInput="ngModel" required email/>
      <mat-error *ngIf="emailInput.invalid">Please Enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="password" ngModel type="password" placeholder="Password" #passwordInput='ngModel' required password/>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
    </mat-form-field>
   <!--  <mat-form-field>
      <input matInput name="rePassword" ngModel type="password" placeholder="Re-Enter Password" #rePasswordInput='ngModel' required password/>
      <mat-error *ngIf="rePasswordInput.invalid">Please enter a valid password</mat-error>
    </mat-form-field> -->

    <button mat-raised-button color="warn" type="submit">
      Sign Up
    </button>
  </form>
</mat-card>
